.department__button {
    width: 14rem;
    height: 4rem;
    border-radius: 8rem;
    border: 0.2rem solid white;
    font-family: NanumSquare_acB;
    font-size: 1.4rem;
    color: white;
    transform: scale(0.8, 0.8);
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.department__button:hover{
    border: 0.3rem solid white;
    font-size: 1.5rem;
}
.department__button > p {
    /* margin-top: 1.5vw; */
}
.department__button > p::after {
    content: "+";
    position: absolute;
    font-size: 2rem;
    transform: translateY(-0.5rem);
}
@media screen and (max-width: 1300px) {
    .department__button > p::after {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1000px) {
    .department__button > p::after {
        font-size: 1rem;
    }
}
