.department__button{
    width: 16rem;
    height: 4.5rem;
    border-radius: 8rem;
    border: 0.2rem solid white;
    font-family: NanumSquareBold;
    font-size: 1.6rem;
    color: white;
    transform: scale(0.8,0.8);
    position: absolute;
    cursor: pointer;
}
.department__button > p{
    margin-top: 1.5vw;
}
.department__button > p::after{
    content: "+";
    position: absolute;
    transform: translateY(-1vh);
    font-size: 2vw;
}