.department__button{
    width: 18vw;
    height: 5vw;
    border-radius: 4vw;
    border: 3px solid white;
    font-family: NanumSquare_acB;
    font-size: 2vw;
    color: white;
    transform: scale(0.8,0.8);
    position: absolute;
   

   
}
.department__button > p{
    margin-top: 1.5vw;
}
.department__button > p::after{
    content: "+";
    position: absolute;
    transform: translateY(-1vh);
    font-size: 2vw;
}