.green__box {
  width: 40px;
  height: 8px;
  margin-bottom: 50px;
  background: #63c3c4;
  /* position: absolute; */
  transform: translateY(0px);
}
@media screen and (max-width:500px){
  .green__box{
    width: 1.5rem;
    height: 0.25rem;
  } 
}