.R{
    background-color: #d63131;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: 19px;
    font-family: NanumSquare_acEB;
    color: #fff;
    transform: translateY(2px);

    
}
.R > div{
    transform: translateY(2px);
}