.tabContainer .true {
  position: relative;
  text-align: center;
  color: white;
}
.tabContainer .true .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:NanumSquareExtraBold;
}
.tabContainer .false {
  visibility: hidden;
}
