.doctorContainer .leftarrow {
    font-family: NanumBarunGothic;
    color: #707070;
    text-shadow: 2px 2px 3px rgba(10, 10, 10, 0.5);
    position: absolute;
    font-size: 3.5rem;
    top: 50vh;
    z-index: 5;
    cursor: pointer;
    left: 1vw;
}

.doctorContainer .rightarrow {
    font-family: NanumBarunGothic;
    color: #707070;
    text-shadow: 2px 2px 3px rgba(10, 10, 10, 0.5);
    /* position: absolute; */
    /* border: 1px solid; */
    position: absolute;
    font-size: 3.5rem;
    top: 50vh;
    z-index: 5;
    cursor: pointer;
    right: 1vw;
}
