.awardPageContainer {
  /* display: flex; */
  /* position: fixed; */
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  flex-direction: column;
}
.spotlight {
  height: 100vh;
  width: 100vw;
}
.awardPageContainer .content_wrapper {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.awardPageContainer .text-container {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  font-family: NanumBarunGothic;
  color: #636363;
}
.text-container .BigBox1 {
  font-size: 30px;
  font-weight: bold;
}
.text-container .BigBox2 {
  margin-top: 4vh;
  /* font-size: 30px; */
  letter-spacing: 0.05em;
  line-height: 1.5 !important;
}
.BigBox2 > p{
  line-height: 1rem !important;
}

.trophy__slide__container {
  position: fixed;
  /* height: 30vh; */
  display: flex;
  bottom: 10vh;
}
.trophy__slide__container .swiper-container {
  /* display: inline-flex; */
  /* position: absolute; */
  height: 262px;
  /* margin-top: 20%; */
  width: auto;
  display: flex;
  align-items: flex-end;
  width: 1075px;
  position: absolute;
  bottom: 0;
  /* left: ; */
  left: calc(-1075px / 2);
  transform: translateX(50vw);
  /* border: 1px solid; */
  transform-origin: center;
}
.trophy__slide__container .swiper-wrapper {
  align-items: flex-end;
  width: 1075px;
}
.trophy__slide__container .swiper-container .swiper-wrapper .swiper-slide {
  width: 215px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  transform: translateX(-1rem);
}
.trophy__slide__container .swiper-slide img {
  width: 215px !important;
  transition: 0.3s;
}
.trophy__slide__container .swiper-container .swiper-wrapper .swiper-slide-active {
  /* width: 345px !important; */
  /* transform: scale(1.4, 1.4); */
}
.trophy__slide__container > .swiper-slide-active {
  /* transform: translateX(10rem); */
}
.trophy__slide__container .swiper-slide-active > img {
  /* 가운데 */
  /* transform: scale(1.4, 1.4); */
  /* max-height: 40vh; */
  transform: scale(1.5, 1.5);
  transition: 0.3s;
  align-self: center;
  /* margin-left: 3rem; */
  /* transform: translateY(10vh); */
  /* transform: translateX(10rem); */

  z-index: 10;
}
.trophy__slide__container .swiper-slide-next + .swiper-slide + .swiper-slide {
  visibility: hidden;
}
.trophy__slide__container .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide {
  visibility: hidden;
}
