.Smile1-container {
  width: 90vw;
  margin: auto;
}
.Smile1-container .content-wrapper {
  position: relative;
  height: 80%;
  padding: 50px 0;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 50px;
  z-index: -10;
}
.Smile1-container .content-wrapper .text-wrapper {
  position: relative;
  margin-top: 150px;
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.Smile1-container .text-wrapper .row1 {
  font-size: 2rem;
  font-family: NanumSquare_acEB;
  color: #707070;
}
.Smile1-container .text-wrapper .row2 {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}
.Smile1-container .text-wrapper .row2 .word {
  display: flex;
  flex-direction: row;
}
.Smile1-container .text-wrapper .row2 .word:not(:first-child) {
  margin-left: 0.8vw;
}

.Smile1-container .text-wrapper .row2 .blue {
  font-size: 1.2rem;
  font-family: NanumSquare_acEB;
  color: #63c3c4;
  letter-spacing: 0.03em;
}
.Smile1-container .text-wrapper .row2 .gray {
  font-family: NanumSquare_acR;
  font-size: 1.4rem;
  font-weight: bold;
  color: #707070;
  letter-spacing: 0.03rem;
}

.Smile1-container .text-wrapper .row3 {
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: NanumSquareBold;
  color: #707070;
}
.Smile1-container .text-wrapper .row3 .part {
  width: 120%;
}
.Smile1-container .text-wrapper .row4 {
  width: 120%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: NanumSquareExtraBold;
  font-weight: bold;
  color: #63c3c4;
}
.Smile1-container .img-wrapper {
  margin-left: 80px;
}
.Smile1-container .img-wrapper img {
  width: 40vw;
}
@media screen and (max-width: 500px) {
  .Smile1-container .content-wrapper {
    flex-direction: column;
  }
  .Smile1-container .content-wrapper .text-wrapper {
    margin-top: 0;
  }
  .Smile1-container .text-wrapper .row1 {
    font-size: 2rem;
  }
  .Smile1-container .text-wrapper .row2 .blue,
  .Smile1-container .text-wrapper .row2 .gray,
  .Smile1-container .text-wrapper .row3,
  .Smile1-container .text-wrapper .row4 {
    font-size: 4vw;
  }
  .Smile1-container .img-wrapper img {
    width: 60vw;
  }
}
