.Smile2-container {
    width: 90vw;
    margin: auto;
    height: 70vw;
}
.Smile2-container .content-wrapper {
    position: relative;
    padding: 50px 0;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -10;
}
.Smile2-container .content-wrapper .first-row {
    height: 25vw;
    width: 100%;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    border-bottom: 3px solid #63c3c4;
    border-top: 3px solid #63c3c4;
}
.Smile2-container .first-row .first-element img {
    width: 80%;
}
.Smile2-container .first-row .second-element {
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 20vw;
    align-self: center;
    width: 30vw;
}
.Smile2-container .first-row .second-element .title {
    font-family: NanumSquare_acEB;
    font-size: 2vw;
    color: #63c3c4;
    margin-bottom: 100px;
}
.Smile2-container .first-row .second-element ul {
    list-style-type: none;
    font-size: 1.5vw;
    color: #707070;
    font-family: NanumSquare_acR;
    margin-top: -5rem;
    line-height: 3vw;
}
/* .Smile2-container .first-row .second-element ul li::before{
content: "\f0da"; 
font-family: "Font Awesome 5 Free";
padding: 0 10px 0 0;
} */
.Smile2-container .first-row .third-element {
    position: relative;
    margin-right: -60px;
}
.Smile2-container .first-row .third-element img {
    width: 80%;
}
.Smile2-container .second-row {
    width: 80vw;
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.Smile2-container .second-row .title {
    align-self: flex-start;
    font-family: NanumSquare_acEB;
    color: #707070;
    font-size: 3vw;
}
.Smile2-container .second-row .process {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    font-family: NanumSquare_acR;
    color: #707070;
}
.Smile2-container .second-row .process .numbercircle {
    color: #63c3c4;
}
.Smile2-container .second-row .process .numbercircle h3 {
    color: white;
    font-size: 8pt;
    margin-left: 4.5px;
    margin-top: -17px;
}

.Smile2-container .second-row .process img {
    width: 27vw;
}
.Smile2-container .second-row .process .Process1,
.Smile2-container .second-row .process .Process2 {
    margin-left: 1vw;
}
.Smile2-container .second-row .process .summary {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 8px;
}
.Smile2-container .second-row .process .summarytext {
    margin-left: 10px;
    font-size: 16px;
}
@media screen and (max-width: 500px) {
    .Smile2-container {
        width: 90vw;
        height: 100vw;
    }
    .Smile2-container .content-wrapper {
        width: 100%;
    }
    .Smile2-container .content-wrapper .first-row {
        height: 30vw;
    }
    .Smile2-container .first-row .first-element img {
        width: 18vw;
        margin-left: 5vw;
    }
    .Smile2-container .first-row .second-element {
        width: 120px;
        margin-left: 3vw;
        height: 26vw;
    }
    .Smile2-container .first-row .second-element .title {
        font-size: 13px;
    }
    .Smile2-container .first-row .second-element ul {
        margin-top: -6rem;
    }
    .Smile2-container .first-row .second-element li {
        font-size: 8px;
        line-height: 11px;
    }
    .Smile2-container .first-row .third-element img {
        width: 23vw;
        margin-left: 2vw;
    }
    .Smile2-container .second-row .title {
        font-size: 5vw;
    }
    .Smile2-container .second-row .process {
        width: 90vw;
    }
    .Smile2-container .second-row .process img {
        width: 29vw;
    }
    .Smile2-container .second-row .process .summary {
        margin-top: 0.5vw;
        margin-left: 0.1vw;
    }
    .Smile2-container .second-row .process .summary .green_circle_with_number {
        border-radius: 0.8rem;
        width: 0.8rem;
        height: 0.8rem;
    }
    .Smile2-container .second-row .process .summarytext {
        font-size: 2.3vw;
        margin-left: 0.5vw;
    }
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
    .Smile2-container .content-wrapper {
        width: 90%;
    }
    .Smile2-container .first-row .first-element img {
        width: 60%;
    }
    .Smile2-container .first-row .second-element {
        width: 38vw;
        transform: translate(-4vw, 3vw);
    }
    .Smile2-container .first-row .second-element ul {
        font-size: 1vw;
    }
    .Smile2-container .first-row .third-element img {
        width: 60%;
    }
}
