#department__content {
  width: 70rem;
  height: 30rem;
  position: absolute;
  right: 0;
  top: 20vh;
  display: flex;
  flex-direction: row;
  font-family: NanumSquare_acR;
}

#department__content .department__description {
  text-align: left;
  display: flex;
  width: 25rem;
  flex-direction: column;
  color: #555555;
}

#department__content .department__description .title {
  font-size: 2.5vw;
  width: 100%;
}
#department__content .department__description .title p {
  width: 100%;
  margin-top: 20px;
}
#department__content .department__description .body1 {
  font-size: 1.5vw;
  padding-top: 3vw;
  line-height: 2vw;
}
#department__content .department__description .body1 .body1_wrapper {
  position: relative;
  padding-top: 1rem;
}
#department__content .department__description .body1 .body1_1 {
  font-family: NanumSquare_acEB;
  font-size: 2vw;
  color: #63c3c4;
}
#department__content .department__description .body1 .body1_2 {
  color: #707070;
  font-weight: 400;
  transform: translate(0.5rem, 2px);
}

#department__content .department__description .body2 .body2_wrapper {
  position: relative;
  padding-top: 1rem;
  color: #707070;
  font-weight: 350;
  font-size: 1rem;
  line-height: 1.5rem;
}
#department__content .department__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.department__menu .department__menu__leftcol {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.department__menu .noan__menu {
  width: 50%;
  height: 100%;
}
.department__menu .department__menu__leftcol .lens__menu,
.department__menu .department__menu__leftcol .sight__correction__menu {
  height: 100%;
}
.department__menu .wrapper1 {
  background-image: url("./images/background1.png");
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.department__menu .wrapper2 {
  background-image: url("./images/background2.png");
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.department__menu .wrapper3 {
  background-image: url("./images/background3.png");
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#department__content .department__menu .contents {
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}
#department__content .department__menu .contents .department__button {
  transform: translateY(-1rem);
  cursor: pointer;
}
#department__content .department__menu .contents .showup {
  display: flex;
  flex-direction: row;
}
#department__content .department__menu .contents .link {
  text-decoration: none;
  color: white;
  margin-left: 0.5vw;
  font-size: 20px;
  font-family: NanumSquare_acR;
}
#department__content .department__menu .contents .link :hover {
  color: #707070;
}
.department__wrapper .rear_ment {
  position: relative;
  top: 80vh;
  left: 5vw;
  text-align: left;
  font-size: 4rem;
  font-family: NanumBarunGothicBold;
  color: #ebebeb;
}
@media screen and (max-width: 500px) {
  #department__content {
    display: flex;
    flex-direction: column;
    top: 5rem;
    height: 30rem;
    width: 100%;
  }
  #department__content .department__description {
    transform: translateX(1.5rem);
    height: 17.5rem;
    width: 100%;
  }
  #department__content .department__description .title {
    font-size: 1.6rem;
    color: #707070;
    font-family: NanumSquare_acR;
  }
  #department__content .department__description .body1 .body1_wrapper {
    margin-left: 0.2rem;
  }
  #department__content .department__description .body1 .body1_wrapper .body1_1 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  #department__content .department__description .body1 .body1_wrapper .body1_2 {
    margin-top: 0.8rem;
    margin-left: 0.2rem;
    font-size: 1.1rem;
  }
  #department__content .department__description .body2 {
    line-height: 1rem;
  }
  #department__content .department__description .body2 .body2_wrapper {
    margin-top: 0.8rem;
    line-height: 1.2rem;
    font-size: 1rem;
  }
  .department__menu {
    transform: translateY(3vh);
    height: 216px;
  }
  .department__menu .wrapper1 {
    position: absolute;
    width: 50%;
    /* left: 10px; */
    height: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .department__menu .wrapper2 {
    position: absolute;
    height: 50%;
    width: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .department__menu .wrapper3 {
    position: absolute;
    width: 50%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .sight__correction__menu .department__button {
    width: 5rem;
  }
  .lens__menu .contents .department__button {
    width: 4rem;
  }
  .noan__menu .contents .department__button {
    width: 6rem;
  }
  #department__content .department__menu .contents .department__button {
    height: 1.6rem;
    border: 2px solid white;
    font-size: 0.7rem;
    letter-spacing: 0.001rem;
    border-radius: 2rem;
  }
  #department__content .department__menu .contents .link {
    font-size: 1vw;
  }
  #department__content .department__menu .contents .link {
    font-size: 1vw;
  }
  .department__button > p {
    transform: translateY(1px);
  }
  .department__wrapper .rear_ment {
    font-size: 2rem;
    left: 0;
    top: 85vh;
  }
}
@media screen and (max-height: 700px) {
  .rear_ment {
    visibility: collapse;
  }
}
@media screen and (max-width: 1300px) and (min-width: 1001px) {
  #department__content {
    width: 60rem;
    height: 23rem;
  }
  #department__content .department__description {
    width: 30rem;
  }
  #department__content .department__description .title {
    font-size: 2rem;
  }
  #department__content .department__description .body1 .body1_1 {
    font-size: 1.8rem;
  }
  #department__content .department__description .body1 .body1_2 {
    transform: translateX(0.7rem);
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  #department__content .department__description .body2 .body2_wrapper {
    padding-top: 2.8rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  #department__content .department__menu .contents .department__button {
    height: 4rem;
    border: 5px solid white;
  }
  .department__wrapper .rear_ment {
    position: relative;
  }
}

@media screen and (max-width: 1000px) and (min-width: 501px) {
  #department__content {
    width: 47.8rem;
    height: 21rem;
  }
  #department__content .department__description {
    width: 16rem;
  }
  #department__content .department__description .title {
    font-size: 2rem;
    height: 30rem;
  }
  #department__content .department__description .body1 .body1_1 {
    font-size: 1.6rem;
  }
  #department__content .department__description .body1 .body1_2 {
    transform: translateX(0.6rem);
    font-size: 1.1rem;
    line-height: 1.9rem;
  }
  #department__content .department__description .body2 .body2_wrapper {
    padding-top: 2.6rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  #department__content .department__menu .contents .department__button {
    height: 5vh;
    border: 3px solid white;
    width: 20vw;
    font-size: 1rem;
  }
  .department__wrapper .rear_ment {
    position: relative;
    left: 1rem;
  }
}
@media screen and (max-height: 600px) {
  .department__description > .title {
    transform: scale(0.8, 0.8) translate(-2.5rem, 0);
  }
  .department__description > .body1 {
    transform: scale(0.8, 0.8) translate(-2.5rem, -1rem);
  }
  .department__description > .body2 > .body2_wrapper {
    font-size: 0.7rem !important;
    transform: translateY(-1.5rem);
  }
  .department__menu {
    transform: translateY(-0.7rem);
  }
}
