#department__content {
  width: 70rem;
  height: 30rem;
  position: absolute;
  right: 0;
  top: 20vh;
  display: flex;
  flex-direction: row;
  font-family: NanumSquare_acR;
}

#department__content .department__description {
  text-align: left;
  display: flex;
  width: 25rem;
  flex-direction: column;
  color: #555555;
  line-height: 1rem !important;
}

#department__content .department__description .title {
  font-size: 2.5rem;
  width: 100%;
  font-family: NanumSquare_acB;
}

#department__content .department__description .title p {
  width: 100%;
  margin-top: 20px;
}
#department__content .department__description .title p:before {
  content: "";
  width: 35px;
  height: 3px;
  background-color: #63c3c4;
  position: absolute;
  left: 0;
  top: -5px;
}
#department__content .department__description .body1 {
  font-size: 1.5rem;
  padding-top: 30px;
  line-height: 2rem;
  margin-top: auto;
}
#department__content .department__description .body1 .body1_wrapper {
  position: relative;
  padding-top: 1rem;
}
#department__content .department__description .body1 .body1_1 {
  font-family: NanumSquare_acEB;
  font-size: 2rem;
  color: #63c3c4;
}
#department__content .department__description .body1 .body1_2 {
  color: #707070;
  font-weight: 400;
}
#department__content .department__description .body2 {
  margin-top: auto;
}
#department__content .department__description .body2 .body2_wrapper {
  position: relative;
  padding-top: 5rem;
  color: #707070;
  font-weight: 350;
  font-size: 1.2rem;
  line-height: 1.5rem !important;
}
.body2_wrapper > p {
  line-height: 1.5rem !important;
}
#department__content .department__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.department__menu .department__menu__leftcol {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.department__menu .noan__menu {
  width: 50%;
  height: 100%;
}
.department__menu .department__menu__leftcol .lens__menu,
.department__menu .department__menu__leftcol .sight__correction__menu {
  height: 100%;
}
.department__menu .wrapper1 {
  background-image: url("./images/background1.webp");
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.department__menu .wrapper1.mobile {
  background: url("./images/mobile_background1.webp") no-repeat top center !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.department__menu .wrapper2 {
  background-image: url("./images/background2.webp");
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.department__menu .wrapper2.mobile {
  background: url("./images/mobile_background2.webp") no-repeat top center !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.department__menu .wrapper3 {
  background-image: url("./images/background3.webp");
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.department__menu .wrapper3.mobile {
  background: url("./images/mobile_background3.webp") no-repeat top center !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#department__content .department__menu .contents {
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}
#department__content .department__menu .contents .department__button {
  transform: translateY(-1rem);
  cursor: pointer;
}
#department__content .department__menu .contents .showup {
  display: flex;
  flex-direction: row;
}
#department__content .department__menu .contents .link {
  text-decoration: none;
  color: white;
  margin-left: 0.5vw;
  font-size: 20px;
  font-family: NanumSquare_acR;
}
#department__content .department__menu .contents .link :hover {
  color: #707070;
}
.department__wrapper .rear_ment {
  position: relative;
  top: 80vh;
  left: 5vw;
  text-align: left;
  font-size: 4rem;
  font-family: NanumSquare_acB;
  color: #ebebeb;
}
.rear_ment > p {
  line-height: 100% !important;
}
@media screen and (max-width: 500px) {
  #department__content .department__description .title p:before {
    content: "";
    width: 20px;
    height: 3px;
    background-color: #63c3c4;
    position: absolute;
    left: 0;
    top: 0px;
  }
  #department__content {
    display: flex;
    flex-direction: column;
    top: 5rem;
    height: 100%;
    width: 100vw;
  }
  #department__content .department__description {
    transform: translateX(1.5rem);
    height: 16rem;
    width: 100%;
  }
  #department__content .department__description .title {
    font-size: 1.6rem;
    color: #707070;
  }
  #department__content .department__description .body1 .body1_wrapper {
    margin-left: 0.2rem;
  }
  #department__content .department__description .body1 {
    padding-top: 0px;
    margin-top: 10px;
  }
  #department__content .department__description .body1 .body1_wrapper .body1_1 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  #department__content .department__description .body1 .body1_wrapper .body1_2 {
    /* margin-top: 0.8rem; */
    margin-left: 0.2rem;
    font-size: 1.1rem;
  }
  #department__content .department__description .body2 {
    line-height: 1rem !important;
    height: 7rem;
    margin-top: 10px;
  }
  #department__content .department__description .body2 .body2_wrapper {
    padding-top: 0;
    line-height: 1.2rem;
    font-size: 1rem;
    width: 100%;
  }
  .body2_wrapper > p {
    line-height: 1rem !important;
  }
  .department__menu {
    transform: translateY(-50px);
    /* margin-top: 10px; */
    height: calc(100vw * 336 / 573);
  }

  .department__menu .wrapper1 {
    width: 100%;
    height: 100%;
  
  }
  .department__menu .wrapper2 {
    /* position: absolute; */
    height: 100%;
    width: 100%;
 
  }

  .department__menu .wrapper3 {
    /* position: absolute; */
    width: 100%;
    height: 100%;

  }
  .sight__correction__menu .department__button {
    width: 5rem;
  }
  .lens__menu .contents .department__button {
    width: 4rem;
  }
  .noan__menu .contents .department__button {
    width: 6rem;
  }
  #department__content .department__menu .contents .department__button {
    height: 1.6rem;
    border: 2px solid white;
    font-size: 0.7rem;
    letter-spacing: 0.001rem;
    border-radius: 2rem;
  }
  #department__content .department__menu .contents .link {
    font-size: 0.6rem;
  }

  .department__button > p {
    transform: translateY(1px);
  }
  .department__wrapper .rear_ment {
    font-size: 2rem;
    left: 0;
    top: 85vh;
  }
}
@media screen and (max-height: 700px) {
  .rear_ment {
    visibility: collapse;
  }
}
@media screen and (max-width: 1300px) and (min-width: 1001px) {
  #department__content {
    width: 60rem;
    height: 23rem;
  }
  #department__content .department__description {
    width: 30rem;
  }
  #department__content .department__description .title {
    font-size: 2rem;
  }
  #department__content .department__description .body1 .body1_1 {
    font-size: 1.8rem;
  }
  #department__content .department__description .body1 .body1_2 {
    transform: translateX(0.7rem);
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  #department__content .department__description .body2 .body2_wrapper {
    padding-top: 2.8rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  #department__content .department__menu .contents .department__button {
    height: 4rem;
    border: 2px solid white;
  }
  .department__wrapper .rear_ment {
    position: relative;
  }
  #department__content .department__description .title p:before {
    width: 30px;
  }
}
@media screen and (min-width: 1700px) {
  #department__content {
    transform: translate(-25vw, 0);
  }
}

@media screen and (max-width: 1000px) and (min-width: 501px) {
  #department__content {
    width: 47.8rem;
    height: 21rem;
  }
  #department__content .department__description {
    width: 16rem;
  }
  #department__content .department__description .title {
    font-size: 2rem;
    height: 30rem;
  }
  #department__content .department__description .body1 .body1_1 {
    font-size: 1.6rem;
  }
  #department__content .department__description .body1 .body1_2 {
    transform: translateX(0.6rem);
    font-size: 1.1rem;
    line-height: 1.9rem;
  }
  #department__content .department__description .body2 .body2_wrapper {
    padding-top: 2.6rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  #department__content .department__menu .contents .department__button {
    height: 5vh;
    border: 2px solid white;
    width: 10rem;
    font-size: 1rem;
  }
  .department__wrapper .rear_ment {
    position: relative;
    left: 1rem;
  }
  #department__content .department__description .title p:before {
    width: 25px;
  }
}

@media screen and (max-height: 600px) {
  .department__description > .title {
    transform: scale(0.8, 0.8) translate(-2.5rem, 0);
  }
  .department__description > .body1 {
    transform: scale(0.8, 0.8) translate(-2.5rem, -1rem);
  }
  .department__description > .body2 > .body2_wrapper {
    font-size: 0.7rem !important;
    transform: translateY(-1.5rem);
  }
  .department__menu {
    /* transform: translateY(-120px); */
  }
}
