#department__content{
    width: 75vw;
    height: 65vh;
    border: 2px solid rgb(150, 150, 88);
    position: absolute;
    right: 0;
    top: 20vh;
    display: grid;
    grid-template-columns: 20fr 55fr;
    
    font-family: NanumSquare_acR;
    .department__description{
        border: 1px solid red;
        text-align: left;
        display: flex;
        flex-direction: column;
        color : #555555;
        .title{
            font-size: 2.5vw;
            flex: 1;
            border: 1px solid purple;
            width: 100%;
            
            p {
                border: 2px solid skyblue;
                width: 100%;
                margin-top: 20px;
                
            }
            
        }
        .body{
            flex:6;
            border : 1px solid plum;
            font-size: 1.2vw;
            padding-top: 1vw;
            line-height: 2vw;

        }
    }
    .department__menu{
        border:1px solid blue;
        display: grid;
        min-width: 0;
        min-height: 0;
        .department__button{
            position: absolute;
            cursor: pointer;
        }
        img {
            max-height: 100%;
            z-index: 0;

        }
        .sight__correction__menu{
            grid-column: 1/2;
            grid-row: 1/2;
            min-width: 0;
            min-height: 0;
            border: 1px solid greenyellow;
            .department__button{
                bottom:35vh;
            }
           
            // background-image: url("./department_image/background1.png");
        }
        .lens__menu{
            grid-column: 1/2;
            grid-row: 2/2;
            min-width: 0;
            min-height: 0;
            border:1px solid salmon
        }
        .noan__menu{
            grid-column: 2/2;
            grid-row: 1/span 2;
            min-width: 0;
            min-height: 0;
            border: 3px solid ;
        }
    }
}