.slide0__container{
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.blinking__video {
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
  z-index: -2;
  
  
  
  
}
.blinking__video img{
  display: hidden;
  position: absolute;
}

.center__letter {
  font-size: 70px;
  color: #fff;
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-weight: 300;
  letter-spacing: 7px;
}
.center__letter {
  animation-name: riseup;
  animation-duration: 4s;
}
@media all and (max-width: 500px) {
  
}

@keyframes riseup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width:5000px){
  .slideO__container > img{
    visibility: collapse;
  }
}
@media screen and (max-width:500px){
  .blinking__video, .blinking__video source{
    visibility: collapse;
    height: 0;
  }
  
  .slide0__container > img{
    /* position: initial; */
    visibility: visible;
    position: absolute;
    top: 0;
    display: flex;
    width: 100vw;
  }
}