.slide__3 {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(83, 69, 69);
  flex-direction: column;
}
.slide__3 .background__1 {
  flex: 3;
  background: #fff;
  width: 100%;
}
.slide__3 .background__2 {
  background: #e1e1e1;
  width: 100%;

  flex: 2;
}
.slide__3 .content__wrapper {
  position: absolute;
  width: 60%;
  height: 80%;
  transform-origin: center;
  transform: translate(25%, 5%);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: auto;
  border: 25px solid #fff;
  border-bottom-width: 30px;
  justify-content: center;
}
.slide__3 .content__wrapper .text__container {
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* transform: translateY(20px); */
  justify-content: start;

  /* align-items: center; */
  /* background-color: yellow; */
}
.point__top {
  width: 2.3vw;
  margin-left: 0.5vw;
  transform: translateY(1.5vh);
  border-top: 5px solid #63c3c4;
  position: fixed;
  content: "";
}
.large__text {
  font-size: 2.5vw;
  padding-top: 3vh;
  vertical-align: center;
  color: #707070;
}

.small__text {
  padding-top: 3.9vh;
  color: #707070;
  font-size: 1.5vw;
}
.text__container .true {
  animation: fadein 1s ease;
}
.slide__3 .content__wrapper .swiper__container {
  background-color: white;
  width: 100%;
  height: 80%;
}
.slide__3 .bottom__letter {
  position: absolute;
  bottom: 0;
  left: 10%;
  color: #fff;
  font-size: 5vw;
  font-weight: 600;
  height: 10%;
  font-family: NanumSquare_acEB;
}
.slide__3 .swiper-container {
  width: 100%;
  height: 100%;
}
.slide__3 .swiper-slide {
  background-color: white;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.slide__3 .swiper-pagination {
  position: fixed;
  transform: translateY(30px);
}
.slide__3 .swiper-pagination-bullet {
  background-color: #d9d9d9;
}
.slide__3 .swiper-pagination-bullet-active {
  background-color: #808080;
}
/* navigation config */
.slide__3 .prev__button,
.slide__3 .next__button {
  color: #cccccc;
  cursor: pointer;
  font-size: 60px;
  font-family: NanumBarunGothicLight;
}
.slide__3 .prev__button {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-40vw, 6.5vh) scale(0.8, 4);
}
.slide__3 .next__button {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(+40vw, 6.5vh) scale(0.8, 4);
}
.slide__3 img {
  max-width: 100%;
  max-height: 100%;
}
/* @media all and (max-width: 1085px) {
} */
@media all and (max-width: 920px) {
  .large__text {
    font-size: 17px;
  }
  .point__top {
    width: 18px;
    height: 40px;
    border-top: 4px solid #63c3c4;
  }
  .small__text {
    font-size: 10px;
  }
  .slide__3 .bottom__letter {
    font-size: 30px;
    transform: translate(-10%, 30%);

  }
}
@media all and (max-width: 700px) {
  .large__text {
    font-size: 12px;
  }
  .point__top {
    width: 12px;
    height: 25px;
    border-top: 3px solid #63c3c4;
  }
  .small__text {
    font-size: 10px;
  }
  .slide__3 .bottom__letter {
    font-size: 30px;
    transform: translate(-10%, 30%);
  }
}
@media screen and (max-width: 500px) {
  .slide__3 .content__wrapper{
    width: 330px;
    height: 40%;
    align-self: center;
    transform: translateX(0vw) translateY(20vh);
    border: 8px solid white;
    
  }
  .slide__3 .bottom__letter {
    font-size: 50px;
    position: absolute;
    bottom: 30vh;
    color:white;
  }
  .content__wrapper> .swiper__container{
    height: 60% !important;
    width: 328px !important;
    background-color: transparent !important;
    margin-bottom: 5px;
    /* transform: translate(-2.5rem, 0); */
  }
  .slide__3 > .content__wrapper > .text__container {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 90px;
  }
  .slide__3 .swiper-slide{
    width: 80vw;
    background-color: transparent;
  }
  .small__text{
    padding: 0;
  }
  .background__2{
    height: 25vh;
    position: absolute;
    bottom: 28vh;
  }
  .slide__3 .swiper-pagination {
    transform: scale(0.7,0.7) translateY(20px);

  }
  .point__top{
    width: 1.4rem;
    height: 4px;
    transform: translate(-3px,0);
  }
  .large__text{
    font-size: 1.4rem;
    padding-top: 0.5rem;
  }
  .small__text{
    font-size: 0.8rem;
    padding-top: 0.7rem;
  }
  .slide__3 img{
    max-width: 100%;
    max-height: 100%;
    width: 328.8px;
    height: auto;
  }
  .slide__3 .next__button {
    position: absolute;
    /* right: 3rem; */
    transform: scale(0.9, 1.1) translate(8.5rem, -2rem) ;
  }
  .slide__3 .next__button, .slide__3 .prev__button{
    visibility: collapse;
    cursor: none;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(-10%, -10%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
