* {
  margin: 0;
  padding: 0;
}

.nav__container {
  height: 58px;
  width: 100vw;
  /* overflow-y: hidden; */

  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  margin: auto;
  z-index: 10;

  /* overflow: hidden; */
}
.nav__container.true {
  overflow: visible;
  z-index: 20;
}
.nav__container.true > .navbar__logo,
.nav__container.true > ul {
  z-index: -1;
  opacity: 0;
}
.nav__container.false {
  overflow: hidden;
}
.hamburger-react {
  right: 20px;
  z-index: 10;
  position: absolute;
}
.navbar__logo {
  flex: 1;
  height: 100%;
  left: 50px;
  display: flex;
  vertical-align: center;
  align-items: flex-start;
}
@media screen and (max-width: 500px) {
  .hamburger-react {
    transform: scale(0.8, 0.8);
  }
  .navbar__logo {
    transform: scale(0.8, 0.8) translate(-25px, 0);
  }
  .nav__container.nav__container.true > .navbar__logo {
    opacity: 0;
  }
}
.navbar__logo .logo__svg {
  max-width: 180px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 24px;
  transform: translate(0px, 3px);
}
.navbar__pagelink {
  /* flex: 3; */

  display: flex;
  /* align-items: left; */
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  color: #707070;
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  left: 200px;
}
.navbar__pagelink li {
  cursor: pointer;
  margin-left: 30px;
}
.nav__container li a {
  text-decoration: none;
  color: #707070;
}
.hamburger__icon {
  /* flex: 1; */
  justify-content: flex-end;
  display: flex;
  z-index: 990 !important;
  width: 50px !important;
}
.hamburger__icon > div {
  z-index: 990;
}
@media screen and (max-width: 800px) {
  .navbar__pagelink {
    visibility: collapse;
  }
  .hamburger-react {
    right: 20px;
    position: absolute;
  }
  .navbar__logo {
    margin: 0;
    position: relative;
    left: 20px;
  }
}
/* @media screen and (max-width: 500px) {
  .hamburger-react {
    flex: 2;
  }
  .navbar__logo {
    flex: 1;
  }
} */
@media screen and (max-width: 500px) {
  .navbar__logo {
    margin: 0;
    position: relative;
    left: 0px;
  }
  .hamburger-react {
    left: -10px;
    position: fixed;
  }
}
