.awardPageContainer {
  /* display: flex; */
  /* position: fixed; */
  height: 100%;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}
.spotlight {
  height: 100%;
  width: 100%;
}
.awardPageContainer .content_wrapper {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.awardPageContainer .text-container {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  font-family: NanumBarunGothic;
  color: #636363;
}
.text-container .BigBox1 {
  font-size: 30px;
  font-weight: bold;
}
.text-container .BigBox2 {
  margin-top: 4vh;
  /* font-size: 30px; */
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.trophy__slide__container {
  position: fixed;
  /* height: 30vh; */
  display: flex;
  bottom: 10vh;
  /* align-items: flex-end; */
  /* position: relative; */
  /* margin-bottom: 20vh; */
  /* transform: translateY(50%); */
}
.trophy__slide__container .swiper-container {
  /* display: inline-flex; */
  /* position: absolute; */
  height: 32vh;
  /* margin-top: 20%; */
  display: flex;
  align-items: flex-end;
  /* background-color: orange; */
  /* position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%); */
  /* background-color: pink; */
}
.trophy__slide__container .swiper-wrapper {
  align-items: flex-end;
}
.trophy__slide__container .swiper-container .swiper-wrapper .swiper-slide {
  /* background-color: yellow; */
}
.trophy__slide__container .swiper-slide img {
  max-width: 25vh;
  max-height: 25vh;
  transition: 0.3s;
}
.trophy__slide__container
  .swiper-container
  .swiper-wrapper
  .swiper-slide-active {
  /* max-width: 28vh;
  max-height: 28vh; */
  /* background-color: orange; */
}
.trophy__slide__container .swiper-slide-active img {
  /* 가운데 */
  max-width: 40vh;
  max-height: 40vh;
  transition: 0.3s;
  align-self: center;
  /* transform: translateY(10vh); */
  transform: translateX(-10%) translateY(2vh);

  z-index: 10;
}
